body header{
    background-image: url(//HDV/img/pexels-pixabay-301717.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

nav{
    background-color: coral;
    overflow: auto;
}

nav ul{
list-style-type: none;
margin: 0;
padding: 5px;

}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
}

nav li a:hover{
    background-color: antiquewhite;
    color: darkblue;
}


